# СУБД:

# dev - для разработки, prod для реальной работы:
ENVIRONMENT=dev

POSTGRES_USER=shift_user
POSTGRES_PASSWORD=12345shift12345
POSTGRES_DB=shift_db
POSTGRES_HOST=localhost
POSTGRES_PORT=6000

# ADMIN:

ADMIN_USERNAME=admin
ADMIN_PASSWORD=1234512345

# JWT:

SECRET_KEY=8a98e684c5464682e398895b7a8e4bc698f89a7d98a3fe4b1d3f3bed553c4229e69eb92c799b6832f8bf0ecb8029927af720bbf28aff75c9dd426f4ba80fd530
ACCESS_TOKEN_MINUTES=30
REFRESH_TOKEN_DAYS=7
